/bootstrap/compiled.php
/vendor
/app/storage
/content
/app/config/app.php
/app/config/database.php
/app/config/mail.php
composer.phar
composer.lock
.DS_Store
nbproject
.idea
.buildpath
.project
.settings/
tmp/
.*.sw*